.panel.row
  .columns.small-3
    = logo
  .columns.small-7
    %h3= link_to name, stockist_url
    %p.address
      = address
  .columns.small-2
    = link_to 'Find on Map', stockist_url
    %br/
    = link_to 'More Details', stockist_url



