<% root_path = '/30 Acres - Eye of Horus Retail Centre/Media Centre/' %>

<% if params[:path] %>
  <% path ||= "#{root_path}#{params[:path].gsub(root_path,'')}" %>
<% else %>
  <% path ||= root_path %>
<% end %>

  <% @client.metadata(root_path)['contents'].each do |key, value| %>
    <%= render 'folder', key: key, value: value %>
  <% end %>

<% unless root_path == path %>
  <div class="panel">
    <h2><%= link_to 'Home', url_for(path: nil), style: 'color: #ccc;' %> / <%= @client.metadata(path)['path'].split('/').last.titleize %> Folder</h2>
    <br/>
  <% if @client.metadata(path)['contents'] %>
  <% @client.metadata(path)['contents'].each do |key, value| %>
    <% if key['is_dir'] == true %>
      <%= render 'folder', key: key, value: value %>
    <% else %>
      <%= link_to "<div class='fa fa-file' title='#{key['modified']}'></div> #{key['path'].split('/').last.titleize } <br/><span style='color: #ccc'>[#{key["size"]}]</span> <span class='label'>Download</span>".html_safe, dropbox_download_path(path: key["path"]), :target => "_blank", class: '', style: 'color: #fff; background: #222; padding: 4px 8px; border: 1px solid #111; display: block;' %>
      <br/>
      <% end %>
  <% end %>
<% end %>
  </div>
<% end %>
