.row
  .columns.large-12
    %br/
    - if params[:thank_you] == true
      %h2 Thank you for your application. Someone will contact you shortly.
    <iframe style="width: 100%" height="535" src="//www.youtube.com/embed/mHgZMMWLeTo?autoplay=1&amp;showinfo=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
.row
  .columns.large-7
    %h1 Become a retailer
    %p
      Are you looking for an iconic makeup range that creates a ever devoted fan & client base?
    %p
      Eye of Horus Cosmetics uses natural ingredients in the style of the ancient Egyptians to deliver cosmetic products that are affordable, non-irritating and effective.
    %p
      Eye of Horus welcome enquiries from  beauty salons, pharmacy, hair salons, spas, dermatologists, plastic surgeons, anti-aging clinics, image consultants and professional makeup artists
    %p
      Become a Eye of Horus retailer in your area.
    %h4 Retailer Benefits
    %ul{style: 'color: #fff'}
      %li FREE Promotional Material
      %li Great visual point of sale cosmetic stand
      %li Non Toxic Cosmetics, Cruelty Free
      %li Complimentary Products &amp; testers
      %li Orders Can Be Customized
      %li Easy to sell products, products are positioned mid-range
      %li Eye of Horus provides assistance with promotions e.g. monthly newsletter twitter Facebook
      %li Free online training and ongoing support
      %li Great Mark Up
      %li Social Media Support
      %li Family Owned Australia Company<strong></strong>
  .columns.large-5
    %br/
    .panel
      %h4 Apply to become an #{c('site_name')} retailer
      - if 1 == 2
        = form_tag('#') do
          %p
            %strong Business Name
            %input{id:"person_first_name", name:"person[first_name]", type:"text"}
          %p
            %strong Contact Phone
            %input{id:"person_first_name", name:"person[first_name]", type:"text"}
          %p
            %strong Email
            %input{id:"person_first_name", name:"person[first_name]", type:"text"}
          %p
            %strong Website
            %input{id:"person_first_name", name:"person[first_name]", type:"text"}
          %p
            %strong ABN
            %input{id:"person_first_name", name:"person[first_name]", type:"text"}
          %p
            %strong Comments
            %input{id:"person_first_name", name:"person[first_name]", type:"text", style: 'height: 140px'}
          %p
            %input{id:"person_first_name", name:"person[first_name]", type:"checkbox"}
            Have you tried the products?
          %p
            = link_to 'APPLY', '#', class: 'button small'
      - elsif 2 == 3
        Email to: 
        = mail_to 'contact@eyeofhoruscosmetics.com'
        your Business Name, Contact Phone, Website URL, ABN and a bit about your business.
      - else
        = render 'subscribe_become_form'
