.row
  .page-header
    %h1 
      Find an Eye of Horus Stockist Near
      = params[:loc] ? params[:loc] : ' You'

.row
  #map{style: 'width: 100%; margin: 0; padding: 0;'}
  - unless params[:long]
    .nearby{ style: 'display: none; text-align: center; margin-top: -1.2em;' }
      = link_to "Find a #{c('site_name')} stockist near you", '#', id: 'nearby', class: 'button button-secondary large', style: 'border: 3px solid #444', data: { longitude: '', latitude: ''} 

.row
  .columns.large-12
    = cell(:stockist, collection: @paged_stockists, method: :teaser, site: @site)
    %br/
    = paginate(@paged_stockists)

.row
  .columns.large-12
    %hr/
    Find #{c('name')} by Country
    - @all_countries.order(name: :asc).each do |country|
      = link_to country, class: 'button' do
        #{country.name} (#{country.stockists.count})

= content_for :footer_scripts do
  = render partial: 'maps/map', locals: { hash: @hash, zoom: nil }
