= content_for :title do
  = cell(:stockist, @stockist, site: @site).call('page_title')

= cell(:stockist, @stockist, site: @site)

= content_for :footer_scripts do
  = render partial: 'maps/map', locals: { hash: @hash, zoom: 12 }
