= content_for :title do
  = cell(:stockist, @stockist, site: @site).call('page_title')

= cell(:stockist, @stockist, site: @site)

- if current_admin
  = link_to 'Edit', '#edit_this', class: 'btn btn-alert'

= content_for :footer_scripts do
  = render partial: 'maps/map', locals: { hash: @hash, zoom: 16 }
