.row
  .columns.large-12
    .header
      %h1 Find Eye of Horus at #{@stockist.name} in #{@stockist.city.squeeze(" ").strip}, #{@stockist.country}

.row
  .columns.large-12
    #map{style: 'width: 100%; height: 500px;'}
    %br/

.row
  .columns.large-6
    .panel
      %h4= @stockist.name
      %p= @stockist.address
      %ul
        %li Directions to here
        %li= link_to 'More nearby', stockists_path
        - if @stockist.primary_phone
          %li Phone Number
        - if @stockist.website
          %li Link to website
      = render 'application/share_buttons'
  .columns.large-6
    .panel
      %h4 About #{c('site_name')}
      %p Description


= content_for :footer_scripts do
  = render 'maps/map', hash: @hash, zoom: '14'

= content_for :title do
  Find #{c('site_name')} at #{@stockist.name} in #{@stockist.city}

