<div class="row">
  <br/>

  <h2><%= resource_name.to_s.humanize %> Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <% if resource_name.to_s.humanize == 'Retailer' %>
      <%= f.input :email, required: false, as: :hidden, autofocus: false, input_html: { value: 'jonny@30acres.com.au' } %>
    <% else %>
      <%= f.input :email, required: false, autofocus: true %>
    <% end %>
    <%= f.input :password, required: false, input_html: { style: 'width: 500px' } %>
    <% f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
    <% if resource_name.to_s.humanize == 'Retailer' %>
      &nbsp;
      &nbsp;
      &nbsp;
  <h4 style="display: inline-block">Are you a retailer for Eye of Horus and don't have a login?
    <%= mail_to 'contact@eyeofhorus.com.au','Email Us'  %>
  </h4>
<% end %>

  </div>
<% end %>

</div>
