<div class="row">

  <h2><%= resource_name.to_s.humanize %> Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <% if resource_name.to_s.humanize == 'Retailer' %>
      <%= f.input :email, required: false, as: :hidden, autofocus: false, input_html: { value: 'jonny@30acres.com.au' } %>
    <% else %>
      <%= f.input :email, required: false, autofocus: true %>
    <% end %>
    <%= f.input :password, required: false %>
    <% f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<% if resource_name.to_s.humanize == 'Retailer' %>
  <h4>Are you a retailer for Eye of Horus and don't have a login?</h4>
  <a href="mailto: amy@eyeofhorus.com.au">Email Us</a>
<% end %>

</div>
