-# %meta(name="description" content="#{@product.meta_description}")
-# - unless @product.meta_keyword.blank? or @product.meta_keyword.include?('furniture online,')
-#   %meta(name="keywords" content="#{@product.meta_keyword}") 
-# - if "/#{params[:path]}" != @product.canonical_path or request.query_parameters.any?
-#   %link(href="http://interiorsonline.com.au#{@product.canonical_path}" rel="canonical")
-# - unless @product.is_live?
-#   %meta(name="robots" content="noindex")
%title= content_for?(:title) ? yield(:title) : c('site_name') + " Retailers | " + c('site_slogan')
%meta(http-equiv="content-type" content="text/html; charset=utf-8")/
%meta(name="author" content="#{c('site_name')}")/
%meta(name="description" content="#{c('site_meta')} | #{c('site_slogan')}")/
%meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")/

%meta(property="og:title" content="#{c('site_name')}" )
%meta(property="og:description" content="#{c('site_meta')}" )
%meta(property="og:type" content="shop" )
%meta(property="og:url" content="#{request.url}" )
%meta(property="og:image" content="#{c('logo')}" )
-# - if @product.product_images.any?
  -# - @product.product_images.each do |img|
    -# %meta(property="og:image" content="#{IMAGE_CDN}/image/#{url_for(img.image.gsub(' ','%20'))}")
%meta(property="og:site_name" content="#{c('site_name')}" )
-# %meta(property="og:price:amount" content="#{@product.price}" )
-# %meta(property="og:price:currency" content="AUD" )
-# %meta(property="og:availability" content="instock" )
-# %meta(property="product:gender" content="unisex" )

