!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = render 'meta'

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "sites/#{c('site_code')}/custom"
    -# = javascript_include_tag "vendormodernizr"
    = javascript_include_tag :modernizr
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body
    = render 'tag_manager'
    .top-bar{style: 'background: #333'}
      .top-bar-left
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium"><button class="menu-icon dark" type="button" data-toggle></button></span>
        = link_to root_path do 
          = image_tag('https://cdn.shopify.com/s/files/1/0717/7955/t/4/assets/logo.png?12566221044867465009', style: 'height: 42px')
        = simple_form_for(Location.new) do |f|
          = f.error_notification
          .row.collapse{:style => "margin-top:4px;"}
            .form-inputs.large-9.small-9.columns
              = f.input :name, label: false, placeholder: "Find stores by location" 
            .form-actions.large-3.small-3.columns
              = f.button :submit, value: "Search", class: "button expand small", name: nil, :style => 'padding-top: 0.207rem'
        %ul.menu.dropdown{data: { 'dropdown-menu': '2io6zy-dropdown-menu', 'click-open': false, role: 'menubar'}, style: 'background: none;'}
          %li.has-submenu.is-dropdown-submenu-parent.opens-right
            = link_to stockists_path do 
              Retailers
            %ul.submenu.menu.vertical.is-dropdown-submenu.first-sub
              - @all_countries.order(name: :asc).each do |country|
                - unless country.name == 'Phillipines' 
                  %li.country.is-submenu-item.is-dropdown-submenu-item
                    = link_to country, class: 'button' do
                      #{country.name.to_s.gsub('Phillipines','Philippines')}
          %li
            = link_to become_a_stockist_path do
              Become a retailer
      .top-bar-right
        %a.button{:href => "http://eyeofhoruscosmetics.com"} 
          Go to website
    .container
      = yield
    %footer.row
      - unless current_retailer or controller_name == 'retailers'
        .columns.large-12
          %hr/
          
        .row.features
          .columns.large-6
            = render 'feature_1'
          .columns.large-6
            = render 'feature_2'
    .copyright
      .row
        .columns.large-6
          = link_to become_a_stockist_path do
            Become a retailer
          |
          = link_to 'Retail Center', media_center_path
          | 
          = link_to 'Online Shop', '#'
          | 
          = link_to 'Contact Us', '#'
        .columns.large-6.text-right
          &copy; #{c('copyright')} #{Time.now.year}




      

    %script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript" }
    %script{:src =>'//developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">', :type =>'text/javascript' }
    = yield(:footer_scripts)
    :javascript
      $('#nearby').click(function(e) {
        e.preventDefault();
        //alert($(this).data('longitude'))
        window.open("/?long=" + $(this).data('longitude') + "&lat=" + $(this).data('latitude'));

      });

      function get_location() {
        if (Modernizr.geolocation) {
          navigator.geolocation.getCurrentPosition(show_map);
        } else {
          console.log('no map')
        }
      }
      function show_map(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude; 
        $('.nearby').show();
        $('#nearby').attr({'data-latitude': latitude, 'data-longitude': longitude});
      }
      get_location();
